body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    height: 1em;
}

#nav-div {
    background-color: #023047;
    position: fixed;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
}

#logo {
    height: 40px;
    width: 230px;
    padding: 5px;
    margin: 5px 100px 5px 5px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 0 0 0 150px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    font-size: 15px;
}

nav ul li a {
    color: #ffb703;
    text-decoration: none;
}

nav ul li a:hover {
    color: #219ebc;
}

nav ul li a:active {
    color: #ff8080;
}

a {
    color: #fb8500;
    text-decoration: none;
}

.notice-board {
    width: 98%;
    text-align: center;
    margin: 20px auto;
    background-color: #8ecae6;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.notice {
    text-align: left;
}

/* Style for individual notices */
.notice {
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#community-hero {
    background-color: #ffb703;
    color: #023047;
    text-align: center;
    padding: 4em 0;
}

.community-hero-content {
    margin: 0 auto;
}

#com-cards {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.card-text {
    font-size: 16px;
}

#card-img {
    height: 50px;
    width: auto;
}

#yt,
#ig,
#wa {
    border: 1px solid #000000;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin: 35px;
}

#yt {
    background-color: #c1121f;
}

#ig {
    background-color: #ff6392;
}

#wa {
    background-color: #7ae582;
}

footer {
    background-color: #023047;
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Social media links */
.social-media img {
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: auto;
}


/* Terms and conditions and Privacy policy links */
.legal-links {
    flex: 0.7;
}

.legal-links a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

/* Quick links */
.quick-links {
    flex: 0.7;
}


/* Styling for links */
.quick-links a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.quick-links a:hover {
    text-decoration: wavy;
}