#community-hero {

    background-color: #e2c782;
    color: #023047;
    text-align: center;
    padding: 4em 0;
}

.community-hero-content {
    margin: 0 auto;
}

#com-cards {
    background-color: #8ecae6;
    display: flex;
    justify-content: center;
    height: 450px;
    width: 100%;
}

.card {
    border-radius: 0 18px 35px 18px;
    width: 40%;
    height: 350px;
    margin: 10px;
}



.card-text {
    font-size: larger;
    padding: 5px 12px;
    margin: 5px 12px;
    text-align: justify;
}

#ig,
#wa {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(197, 197, 197, 0.904);
    margin: 35px;
}

.card-button {
    border-radius: 10px;
    height: 90px;
    width: 180px;
    font-size: large;
}

.card i {
    background: #023047;
    color: white;
}

.card img{
    width: 100px;
    height: auto;
    margin: 5px;
}

#ig-topdiv{
    display: flex; 
    align-items: center;
}
#id-downdiv{
    height: 100px;
    width: 100px;
}

#yt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;
    height: 480px;
}
.video-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;/* Set the width as per your design */ /* Set the height as per your design */
    max-width: 560px;
    margin : 0 auto; /* Center the video horizontally */
}

.text-cont{
    width: 50%; /* Set the width as per your design */
    height: 405px; /* Set the height as per your design */
    margin: 20px;
    text-align: justify;
    padding: 15px 35px;
}

.notice-board {
    width: 98%;
    text-align: center;
    margin: 20px auto;
    background-color: #8ecae6;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.notice {
    text-align: left;
}

/* Style for individual notices */
.notice {
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}