#community-hero {

    background-color: #fff;
    color: #4a3836;
    text-align: center;
    padding: 4em 0 0 0;
    margin-top: 30px;
    height: 300px;
}

.community-hero-content {
    margin: 0 auto;
}

h1 i {
    background: #ff0000;
    color: white;
}


#icon{
    font-size: 30px;
    width: 30px;
}

/*Com - Icon*/
#comicon{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #CADDFF;
    height: 250px;
    align-items: center;
    padding: 20px;
}
#com-div{
    width: 100%;
    color: #4a3836;
    text-align: center;
    margin: 40px 0;
    
}
#comicon-icon{
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    margin: 40px 0;
    justify-content: center;
}
#wa i {
    background: #11e746;
    color: white;
    margin: 20px;
}

#ig i {
    background: linear-gradient(45DEG, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
    margin: 20px;
}
#tg i {
    background: #0088cc;
    color: white;
    margin: 20px;
}
#yt i {
    background: #ff0000;
    color: white;
    margin: 20px;
}
#li i{
    background: #0A66C2;
    color: white;
    margin: 20px;
}
#gmail i{
    background: #ff0000;
    color: white;
    margin: 20px;
}

/*Comm -Div*/
#comm-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
    margin: 30px 0 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url(./Images/community.png); /* Your background image URL */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.1);
}
#comm-subdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#joinus{
    
}
#joincomm{

}
.comm-main{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 40px;
    margin: 0 25px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*background-image: url(./Images/community.png);
    background-color: rgba(0, 0, 0, 0.1);*/
    transition: transform 0.3s ease;
}
.comm-main:hover{
    transform: scale(1.15);
    background-color: #E5E5E5;
}

#comm-arr{
    background: #4a3836;
    color: white;
    font-size: 18px;
}

.comm-butt{
    background-color: #4a3836;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.comm-butt:hover{
    background-color: #ff6501;
    color: #4a3836;

    #comm-arr{
        background: #ff6501;
        color: #4a3836;
    }
}


/*FAQ Section*/
#faq-section {
    width: 1160px;
    margin: 80px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
#faq-inside{
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-weight: bold;
    color: #333;
}

.faq-item p {
    color: #666;
    line-height: 1.4;
}

.faq-item a {
    text-decoration: none;
    color: #3498db; /* Link color */
}
.faq-item a:hover {
    text-decoration: underline;
}

#faq-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


/*Post Question Section*/
.question-section {
    width: 1160px;
    margin: 35px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #4a3836;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin: 10px 0;
    color: #4a3836;
}

textarea,
input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2186c8;
    opacity: 0.6;
}

#ytmain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    width: 95%;
    height: 480px;
    background-color: #e8e8e8;
    border-radius: 12px;
}

.video-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Set the width as per your design */
    /* Set the height as per your design */
    max-width: 560px;
    margin: 0 auto;
    /* Center the video horizontally */
    background-color: rgb(255, 255, 255);
}

.text-cont {
    width: 50%;
    /* Set the width as per your design */
    height: 405px;
    /* Set the height as per your design */
    margin: 20px;
    text-align: justify;
    padding: 15px 35px;
    background-color: rgb(255, 255, 255);
}

.notice-board {
    width: 98%;
    text-align: center;
    margin: 20px auto;
    background-color: #8ecae6;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.notice {
    text-align: left;
}

/* Style for individual notices */
.notice {
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}