/** Hero Section **/
#sec-hero {
    background-color: #f4d1b9;
    color: #4a3836;
    text-align: center;
    padding-top: 150px;
    height: 200px;
}

/* Style for the contact form container */
.contact-form {
    background-color: #CADDFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.form {
    width: 50%;
    margin: 10px 20px;
    padding: 10px 20px 10px 20px;
    background-color: #CADDFF;
    border-radius: 12px;
    color: #4a3836;

}

.write-img {
    padding: 10px;
}

/* Style for form elements */
.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #4a3836;
    border-radius: 3px;
}

/* Style for the submit button */
.submit-button {
    background-color: #4a3836;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ff6501;
}


.feedback-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating {
    font-size: 30px;
    cursor: pointer;
}

.rating .star {
    color: #ddd;
    margin: 0 5px;
    cursor: pointer;
}

.rating .star:hover,
.rating .star.active {
    color: #ff6501;
}


#feedback-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f4d1b9;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.user-comment {
    background-color: white;
    padding: 20px;
    margin: 20px;
    flex: 65%;
    height: 350px;
    border-radius: 8px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info p {
    font-weight: bold;
    margin: 0;
}

.comment-text {
    margin: 10px 0;
}

.feedback-form {
    background-color: #f4d1b9;
    border-radius: 8px;
    height: 350px;
    padding: 10px 100px 10px 100px;
    margin-right: 5px;
    align-items: end;
}

.feedback-form h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.feedback-form button {
    background-color: #4a3836;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #ff6501;
}